.text-center
  - if user_signed_in?
    - if current_user.is_admin? || current_user.id == params[:user_id].to_i
      %p
        %td= link_to "Edit", edit_user_album_path(album.user,album), {class:"btn btn-simple btn-primary btn-lg"}
        %td= link_to 'DELETE', [album.user,album], method: :delete, data: { confirm: 'Are you sure?' }
        %td= link_to 'Private', set_private_user_album_path(album.user,album), method: :post 
  = link_to user_album_path(album.user,album) do
    = image_tag "album.jpg"
  %p= album.title
  %p= album.description