.text-center
  - if user_signed_in?
    - if current_user.is_admin? || current_user.id == params[:user_id].to_i
      %p
        %td= link_to I18n.t(".edit"), edit_user_album_path(album.user,album), {class:"btn btn-simple btn-primary btn-lg"}
        %td= link_to I18n.t(".delete") , [album.user,album], method: :delete, class:"btn btn-simple btn-primary btn-lg",data: { confirm: I18n.t(".data_confirm")}
        %td= link_to I18n.t(".private") , set_private_user_album_path(album.user,album), method: :post, class:"btn btn-simple btn-primary btn-lg"
  = link_to user_album_path(album.user,album) do
    = image_tag "album.jpg"
  %p= album.title
  %p= album.description
