%nav.navbar.navbar-transparent.navbar-absolute
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => "#navigation-example", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to "Snagi", root_path, class: "navbar-brand"
    #navigation-example.collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        - if user_signed_in?
          %li
            = link_to "Log Out", destroy_user_session_path,:method => :delete
          %li
            = link_to "Your Page", user_albums_path(current_user)
          %li
            = link_to "Edit Profile", edit_user_registration_path
        - else
          %li
            = link_to "Log in",  new_user_session_path
        %li
          %a{:href => ""}
            %i.material-icons pageview
            Notification