%nav.navbar.navbar-info.navbar-fixed-top
  .container-fluid
    .navbar-header
      %button.navbar-toggle{"data-target" => "#example-navbar-icons", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to "Snagi", root_path, class: "navbar-brand"

    #example-navbar-icons.collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        - if user_signed_in?
          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              %i.material-icons face
              %b.caret
            %ul.dropdown-menu.dropdown-menu-right
              %li.dropdown-header= I18n.t(".authentication")
              %li
                = link_to I18n.t(".log_out"), destroy_user_session_path,:method => :delete
              %li
                = link_to I18n.t(".edit_profile"), edit_user_registration_path
          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              = "#{@count_un_read_notification} "
              %i.material-icons mail
              %b.caret
            %ul.dropdown-menu.dropdown-menu-right
              - @notifications.each do |notification|
                %li
                  %a{:href => ""}
                  = link_to notification.content, user_album_path(1,notification.object_id)
        - else
          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              %i.material-icons face
              %b.caret
              %ul.dropdown-menu.dropdown-menu-right
                %li
                  = link_to I18n.t(".log_in"), new_user_session_path
        %li.dropdown
          %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
            %i.material-icons money
            %b.caret
            %ul.dropdown-menu.dropdown-menu-right
              %li.dropdown-header= I18n.t(".language")
              %li
                = link_to "English" , locale: "en"
              %li
                = link_to "Vietnamese" , locale: "vn"
