= link_to user_albums_path(user) do
  .col-md-4
    .team-player
      - avatar = user.avatar.exists? ? image_url( user.avatar.url) : image_path("default-avatar.png")
      %img.img-raised.img-circle{:alt => "Thumbnail Image", :src => "#{avatar}"}/
      %h4.title
        = user.name
        %br/
        %small.text-muted
          = user.email
        %br/
        %small.text-muted
        - if user_signed_in?
          - if current_user.is_admin?
            = render "shared/admin_permission", user: user
      %p.description= I18n.t(".lorem")

