%p Hello World
%p= link_to "Add Album", new_user_album_path 
.table
  %table
    %thead
      %tr
        %th Title
        %th Description
        %th Link
    %tbody
      - @albums.each do |album|
        %tr
          %td= album.title
          %td= album.description
          %td= link_to "Show", user_album_path(album.user,album)
          %td= link_to "Edit", edit_user_album_path(album.user,album)
          %td= link_to 'Destroy', [album.user,album], method: :delete, data: { confirm: 'Are you sure?' }
/ = paginate @albums