= render "shared/wallpaper_profile", user: @user
.main.main-raised
  .profile-content
    .container
      .row
        .profile
          = render 'shared/avatar' , user: @user
          .name.text-center
            %h3.title= @user.name
            - level = @user.is_admin? ? I18n.t(".admin") : I18n.t(".user")
            %h6= level
            %h6= "#{@user.following_users.count} #{I18n.t(".follower") }"
            - if user_signed_in?
              - if current_user.id != params[:user_id].to_i
                .btn.btn-simple.btn-primary.btn-lg= link_to I18n.t(".follow") , follow_user_user_album_path(@current_user,@user), method: :post
              - if current_user.id == params[:user_id].to_i
                = link_to I18n.t(".add_album") , new_user_album_path, {class:"btn btn-simple btn-primary btn-lg"}
              - if current_user.is_admin?
                .btn.btn-simple.btn-primary.btn-lg= link_to I18n.t(".disable"), disable_user_user_album_path(@user,@current_user), method: :post
      .description.text-center
        %p= I18n.t(".lorem")
      .row
        - @albums.each do |album|
          .col-md-6
            = render 'shared/album', album: album
        .text-center
          = paginate @albums
