
= render "shared/wallpaper_profile", url: 'wallpaper.jpg'
.main.main-raised
  .profile-content
    .container
      .row
        .profile
          = render 'shared/avatar' , user: @user
          .name.text-center
            %h3.title= @user.name
            = render 'form', album: @album, user: @user
            = link_to "Back", user_albums_path(@user), {class:"btn btn-simple btn-primary btn-lg"}