/- wallpaper = @user.wallpaper == nil ? 'city.jpg' : @user.wallpaper.url

= render "shared/wallpaper_profile", user: @user

.main.main-raised
  .profile-content
    .container
      .row
        .profile
          = render 'shared/avatar' , user: @user
          .name.text-center
            %h3.title= @user.name
            - level = @user.is_admin? ? I18n.t(".admin") : I18n.t(".user")
            %h6= level
            %h6= @album.title
            %h6= "#{@user.following_users.count} #{I18n.t(".follower") }"
            %h6= "#{@album.liked_users.count} #{I18n.t(".likes") }"
            - if user_signed_in?
              .btn.btn-simple.btn-primary.btn-lg= link_to I18n.t(".follow") , follow_user_album_path(@current_user,@album), method: :post
              .btn.btn-simple.btn-primary.btn-lg= link_to I18n.t(".like") , like_user_album_path(@current_user,@album), method: :post
              - if current_user.is_admin? || current_user.id == params[:user_id].to_i
                .btn.btn-simple.btn-primary.btn-lg= link_to I18n.t(".edit") , edit_user_album_path(@user,@album)
                .btn.btn-simple.btn-primary.btn-lg= link_to I18n.t ".private" , set_private_user_album_path(@current_user,@album), method: :post
                .btn.btn-simple.btn-primary.btn-lg= link_to I18n.t(".delete") , [@user,@album], method: :delete, data: { confirm: I18n.t(".data_confirm") }
      .description.text-center
        %p= @album.description
      .row
        - @pictures.each do |picture|
          .col-md-4
            = render 'shared/picture', picture: picture
        .text-center
          = paginate @pictures


