%p= @picture.title
%p= @picture.description
= image_tag @picture.image.url

= link_to "Edit", edit_picture_path(@picture)
= link_to "Go to album", album_path(@album)
= link_to 'Destroy', @picture, method: :delete, data: { confirm: 'Are you sure?' }